---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galerie">
    <main>
        <div class="h-6 lg:h-10"></div>
        <h1 class="text-2xl lg:text-4xl bold text-center">Gästehaus</h1>
        <hr />
        <div class="h-6 lg:h-10"></div>

        <div
            class="mx-auto space-y-2 lg:space-y-0 lg:gap-2 lg:grid lg:grid-cols-3"
        >
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="img/fam.jpg"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/42f69a3c-9c84-4f94-9d57-f752bed9ecf2.JPG"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/f0f81c2a-b961-40d8-b5c5-382d30f487fc.JPG"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/b7216af2-48eb-4a74-816c-ae12204aeef5.JPG"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/671f5e2e-f5a8-4019-a124-c0b4a7f03f5b.JPG"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/6BDFCFD6-482B-48E0-B52C-1833A6C682AC.JPG"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/8b7b59f2-d293-4dda-b152-259bc7f43954.JPG"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/Bildschirmfoto 2021-10-07 um 15.04.46.png"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/Bildschirmfoto 2021-10-07 um 15.07.14.png"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/Drohne1.JPG"
                alt="image"
            />
            <img
                class="w-full h-80 object-cover rounded-lg"
                src="galery/Drohne2.JPG"
                alt="image"
            />
        </div>
        <div class="h-10"></div>
    </main>
</Layout>
