---
import Spacer from "../components/Spacer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontakt">
    <main>
        <div class="h-6 lg:h-10"></div>
        <h1 class="text-2xl lg:text-4xl bold text-center">Gästehaus</h1>
        <hr />
        <div class="h-6 lg:h-10"></div>
        <p class="text-center">
            Haben Sie Fragen oder Lust auf einen Ausflug in die Pfalz?
        </p>
        <div class="h-6 lg:h-10"></div>
        <div class="text-center">
            <h3>Weingut Herty</h3>
            <p>Marktstraße 39</p>
            <p>67487 Maikammer</p>
            <p>Tel.: 06321 952634</p>
            <p>Mobil: 0160 97950216</p><br />
            <p>Daniel Mobil: 015150911995</p>
            <p>Patrik Mobil: 01709635893</p>

            <a href="mailto:info@weingut-herty.de">info@weingut-herty.de</a>
        </div>

        <Spacer />

        <div class="text-center">
            <h3>Gästehaus Herty</h3>
            <p>Alsterweiler Hauptstraße 40</p>
            <p>67487 Maikammer</p>

            <a href="mailto:gaestehaus@weingut-herty.de"
                >gaestehaus@weingut-herty.de</a
            >
        </div>
        <div class="h-5 lg:h-10"></div>
        <a
            href="https://www.google.com/maps/dir//Alsterweiler+Hauptstraße+40,+Maikammer/@49.3086996,8.0496485,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x47964f5ec9541ed5:0x7e0aa00ddb9f49e7!2m2!1d8.1196881!2d49.3087208"
        >
            <img
                class="h-[300px] md:h-[400px] md:max-h-[500px] lg:h-auto w-full object-cover rounded-lg drop-shadow-2xl"
                src="/KarteG.jpg"
                alt="Karte"
            />
        </a>
        <div class="h-10"></div>
    </main>
</Layout>
