---
export interface Props {
    img: string;
    text: string;
    link: string;
}

const { img, text, link } = Astro.props;
---

<a class="flex flex-col text-white my-2 md:my-0 shadow-lg" href={`${link}`}>
    <img class="rounded-t-lg" src={`${img}`} alt={`${img}`} />
    <p class="bg-gray text-center pb-1 text-lg rounded-b-lg drop-shadow-2xl">{text}</p>
</a>
