---
import "../styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="flex flex-col items-center justify-center">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font max-w-[1500px]">
		<div
			class="w-screen absolute left-0 flex flex-row bg-gray h-20 items-center px-5 xl:px-20 font drop-shadow-2xl"
		>
			<a href="index.html"
				><img
					class="absolute top-0 h-20 lg:h-32 rounded"
					src="img/HertyLogo_grey.png"
					alt=""
				/>
			</a>
			<div class="hidden xl:flex text-white text-2xl gap-6 mx-auto">
				<a href="/">Home</a>
				<a href="weingut">Weingut</a>
				<a href="gaestehaus">Gästehaus</a>
				<a href="galerie">Galerie</a>
				<a href="kontakt">Kontakt</a>
			</div>
		</div>
		<div
			class="nav-button xl:hidden"
			id="nav-button"
			onclick="toggleMenu()"
		>
		</div>
		<div class="nav-menu" id="nav-menu">
			<ul>
				<li><a href="index.html" onclick="toggleMenu();">Home</a></li>
				<li>
					<a href="weingut.html" onclick="toggleMenu();">Weingut</a>
				</li>
				<li>
					<a href="pension.html" onclick="toggleMenu();">Gästehaus</a>
				</li>
				<li>
					<a href="galerie.html" onclick="toggleMenu();">Galerie</a>
				</li>
				<li>
					<a href="kontakt.html" onclick="toggleMenu();">Kontakt</a>
				</li>
				<br /><br />
				<li>
					<a href="https://www.instagram.com/weingutherty/?hl=de"
						><img
							class="w-10 mx-auto"
							src="img/instagram.png"
							alt=""
						/>
					</a>
				</li>
			</ul>
		</div>
		<div class="px-5 xl:px-20 mt-20">
			<slot />
		</div>
	</body>
	<footer>
		<div
			class="h-20 bg-gray px-5 lg:px-20 text-white flex flex-col items-center justify-center drop-shadow-2xl"
		>
			<a href="/impressum">Impressum & Datenschutz</a>
		</div>
	</footer>
</html>
<script is:inline>
	function toggleMenu() {
		const toggle = document.querySelector(".nav-button");
		toggle.classList.toggle("active");
		const navMenu = document.querySelector(".nav-menu");
		navMenu.classList.toggle("active");
	}
</script>

<style is:global>
	@font-face {
		font-family: "Zen Maru Gothic";
		src: url("fonts/ZenMaruGothic-Regular.ttf") format("truetype");
	}

	@font-face {
		font-family: "Zen Maru Gothic Bold";
		src: url("fonts/ZenMaruGothic-Medium.ttf") format("truetype");
	}

	hr {
		width: 150px;
		height: 2px;
		border: 1px;
		border-radius: 200px;
		color: rgb(63, 63, 63);
		background-color: rgb(63, 63, 63);
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.font {
		font-family: "Zen Maru Gothic", sans-serif;
	}

	.bold {
		font-family: "Zen Maru Gothic Bold", sans-serif;
	}

	.nav-button {
		position: fixed;
		top: 15px;
		right: 20px;
		width: 55px;
		height: 55px;
		background: url(img/menu-wine.png);
		transform: rotate(270deg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 100;
	}

	.nav-button.active {
		top: 15px;
		right: 25px;
		background: rgb(197, 197, 197) url(img/close.png);
		background-size: 35px;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 40px;
		z-index: 100;
		cursor: pointer;
		transition: 0.5s;
	}

	.nav-menu {
		top: -15px;
		right: -150%;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav-menu.active {
		position: fixed;
		right: 0px;
		transition: 0.5s;
		width: 100%;
		height: 110%;
		z-index: 1;
		transition: 350ms ease-in;
		text-align: center;
		background-color: #f5f5f5;
	}

	.nav-menu ul li {
		list-style: none;
		line-height: 55px;
	}

	.nav-menu ul li a {
		text-decoration: none;
		font-size: 2em;
		color: rgb(63, 63, 63);
		font-weight: 400;
		letter-spacing: 2px;
	}

	table.greyGridTable {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
	}

	table.greyGridTable td,
	table.greyGridTable th {
		/* border: 1px solid #FFFFFF; */
		padding: 10px 4px;
	}

	table.greyGridTable tbody td {
		font-size: 13px;
	}

	table.greyGridTable td:nth-child(even) {
		background: #ebebeb;
	}

	table.greyGridTable thead {
		background: #ffffff;
		border-bottom: 4px solid #333333;
	}

	table.greyGridTable thead th {
		font-size: 15px;
		font-weight: bold;
		color: #333333;
		text-align: center;
	}

	table.greyGridTable tfoot td {
		font-size: 14px;
	}
</style>
